{namespace view}
/**
 * Lays out the home page.
 */
{template .test}
    <!DOCTYPE>
<html>
    <head>
        <title>Client Application</title>
        <link rel="stylesheet" href="/static/app.css">
        <script type="text/javascript" language="javascript" src="/common/common.nocache.js"></script>
    </head>
    <body>
        <div id="root">

        </div>
    </body>
</html>
{/template}