{namespace view}
/**
 * Lays out the home page.
 */
{template .test}
    <!DOCTYPE>
   <html>
   <head>
       <title>Test Application</title>
       <script type="text/javascript" language="javascript" src="/common/common.nocache.js"></script>
   </head>
   <body>
   <div class="container">
       <div class="content" id="root">

       </div>
   </div>
   </body>
   </html>
{/template}